body{
font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: #151515;
    font-size: 16px;
    padding: 10px;

   }
  
  h1, h2, p {
    margin: 0;      
  }
  
  h1 {
    font-size: 48px;
    height: fit-content;
  }
  
  h2 {
    font-size: 22px;
    height: fit-content;
    color: #2f2f2f;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
    height: fit-content;
    color: #6c6b6b;
  }

  nav ul li a:hover {
    background-color: #4f0ca5;
    border-radius: 5px;
    color: #ffffff;
    
  }

  section.conteudo {
     display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    

  }
  img {
    width: 350px;
    height: auto;
    
  }

  a.contact-me-button{
    color: #ffffff;
    background-color: #4f0ca5;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 5px 10px 5px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    
   
  }
/* responsividade do site*/

  @media only screen and (max-width: 600px) {
    .imagem{
      display: none;
    }
      h1{
        font-size:36px;
      }
      h2{
        font-size:16px;
      }
      p{
        font-size:12px;
      }

      a.contact-me-button {
        font-size: 10px;
        padding: 6px 3px 6px 3px;
        margin-top: auto;}

        a {
          
          font-size: 12px;
          padding: 5px;


    
  
 
  
  